<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


    <div class="content has-text-centered">
      <p>
        <strong>Stick It</strong> by Katherine Gomez
      </p>
      <span class="icon">
        <a href="https://github.com/katherinevgomez/Stick-It-App">
        <img src="https://image.flaticon.com/icons/png/512/25/25231.png">
      </a>
      </span>
    </div>
