<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


<p>
    <strong>Stick It</strong> by Katherine Gomez
  </p>
</br>
    <div class="content has-text-centered">
      <span class="icon">
        <a href="https://github.com/katherinevgomez/Stick-It-Full-CRUD"><img src="https://image.flaticon.com/icons/png/512/25/25231.png"></a>
        
      </span>
    </div>

   <span class="icon"> <img src=""></span>
