<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
 
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand"></div>
    <a href="/">
      <img src="https://i.pinimg.com/originals/10/2a/64/102a6480a7063f0ea57b8c39ec227050.png" width="200" height="200">
    </a>
    </div>

      <a href="/about" class="navbar-item">
        About
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          GDD
        </a>

        <div class="navbar-dropdown">
          <a href="/whatIsGDD" class="navbar-item">
            What Is A GDD?
          </a>
          <a class="navbar-item">
            GDD Example
          </a>
        </div>
      </div>
    </div>
    <a href="/notes" class="navbar-item">
      Add Notes
    </a>

    <div class="navbar-end">
      <div class="navbar-item">
       
      </div>
    </div>
  </div>
</nav>

  