
    <!DOCTYPE html>
    <html lang="en">
      <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
      <!-- THE HEAD TAG PARTIAL -->
      <%- include("partials/head") %>
    
      <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
          <h1 class="title">Stick It</h1>
          <p>
            Welcome to <strong>Stick It</strong>, a site to keep track of your game dev logs.
            <br/><br/>
            You can write, edit and store sticky notes, add reference images and best of all, it's all on the web so you can't spill coffee over them!
            <br/><br/>
            This site was created by <strong>Katherine Gomez</strong> for the Unit 2 Project at General Assembly's Software Engineering Immersive Bootcamp.
            <br/>
            It is a full CRUD app and it's built with RESTful conventions using Javascript, EJS, MongoDB, Mongoose, CSS and Bulma for styling.
            <br/><br/>
            You can take a look at the full code written to create this app by clicking <a href="https://github.com/katherinevgomez/Stick-It-App">here</a>.
            <br/><br/>
            <strong>Stick It!</strong>
    
        </p>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
      </body>
    </html>
   
   
   
   
