
    <!DOCTYPE html>
    <html lang="en">
      <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
      <!-- THE HEAD TAG PARTIAL -->
      <%- include("partials/head") %>
    
      <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
          <h1 class="title">Stick It</h1>
          <p>
            A Game Design Document or GDD is a descriptive text document 
            that details all aspects of game design and serves as a manual
            <br/>
            for Level Designers, Character and Environment Concept Artists, Game Developers
            and all other Pre-production, Production and Post-Production roles.
            <br/><br/>
            A GDD generally contains the following:
            <h2>Game Tittle</h2>
            <h2>Game Genre</h2>
            <h2>Player Mechanics</h2>
            <h2>Story Summary</h2>
            <h2>Game Setting</h2>
            <h2>Level Plans</h2>
            <h2>Target Audience</h2>
            <h2>Game Engine</h2>
            <h2>Game Platform</h2>
            <h2>Asset Reference Images or Concept Art</h2>
            <h2>User Interface</h2>
            <h2>Marketing Strategy</h2>
            <h2>Montization Strategy</h2>
   
    
        </p>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
      </body>
    </html>
   
   
   
   
