h1.title, h3.title {
    text-align: center;
    padding: 10px;
}

main {
    text-align: center;
    margin: 10px;
    min-height: 70vh;
}

input {
    display: block !important;
    margin: 7px auto;
    max-width: 40% !important;

}

p {
    text-align: center;
    align-items: center;
}

.button {
    font-family: 'Open Sans', sans-serif;
    color: #00c2cb;
}

h4 {
background-color: #00c2cb;
width: 250px;
height: 250px;
box-shadow: 4px 4px;
padding: 20px;
margin: 30px;
display: flex;
flex-wrap: wrap;
}

div {
    align-items: center;
    text-align: center;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: auto;  
}



